@media (320px <= width <= 479px) {
  main {
    width: 100vw;
    height: 100vh;
    background-color: aqua;
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;

    .one {
      width: 80%;
      height: 40%;
      align-items: center;

      h1 {
        text-align: center;
        font-size: 2.5rem;
        line-height: 40px;
      }

      h3 {
        font-size: 1.5rem;
        margin-bottom: 15px;
      }

      p {
        text-align: center;
        font-size: 1rem;
        margin-bottom: 30px;
      }

      .btn-1 {
        font-size: 1rem;
        padding: 9px 25px;
      }
    }

    .two {
      width: 100%;
      height: 50%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      .animation-model {
        width: 100%;
        height: 100%;
        margin-left: -7vw;
      }
    }
  }
}

@media (480px <= width <= 767px) {
}

@media (768px <= width <= 1023px) {
}

@media (1024px <= width <= 1999px) {
}

@media (1200px <= width <= 1919px) {
}

@media (1920px <= width <= 2600px) {
  main {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 0 8vw;

    .one {
      width: 80%;
      padding-left: 70px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;

      h1 {
        color: #fff;
      }

      h3 {
        color: #830000;
        margin-bottom: 15px;
      }

      p {
        color: #fff;
        margin-bottom: 50px;
        font-weight: 100;
      }

      .btn-1 {
        border-radius: 7px;
        color: #830000;
        border: 1px solid #830000;
        background-color: transparent;
        cursor: pointer;
        transition: 0.3s all ease-in-out;

        &:hover {
          transform: scale(1.1);
          color: #c20101;
          border: 1px solid #c20101;
        }
      }
    }

    .two {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}

main {
  background-color: hsla(0, 0%, 15%, 1);
  background-color: hsla(0, 0%, 15%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(0, 0%, 9%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(0, 0%, 5%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 00%, rgb(97, 3, 3) 0px, transparent 50%),
    radial-gradient(at 0% 50%, rgb(15, 15, 15) 0px, transparent 50%),
    radial-gradient(at 0% 100%, hsla(0, 0%, 4%, 1) 0px, transparent 50%),
    radial-gradient(at 80% 100%, rgb(20, 4, 4) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(97, 3, 3) 0px, transparent 50%);
  background-size: 300% 300%;
  animation: move 25s ease infinite;

  .one {
    display: flex;
    flex-direction: column;

    h1 {
      color: #fff;
    }

    h3 {
      color: #830000;
      margin-bottom: 15px;
    }

    p {
      color: #fff;
      font-weight: 100;
    }

    .btn-1 {
      border-radius: 7px;
      color: #830000;
      border: 1px solid #830000;
      background-color: transparent;
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: #c20101;
        border: 1px solid #c20101;
      }
    }
  }

  .two {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
