main {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0 8vw;
  background-color: hsla(0, 0%, 15%, 1);
  background-color: hsla(0, 0%, 15%, 1);
  background-image: radial-gradient(
      at 40% 20%,
      hsla(0, 0%, 9%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 80% 0%, hsla(0, 0%, 5%, 1) 0px, transparent 50%),
    radial-gradient(at 50% 00%, rgb(97, 3, 3) 0px, transparent 50%),
    /* radial-gradient(at 0% 50%, hsla(0, 0%, 9%, 1) 0px, transparent 50%), */
      radial-gradient(at 0% 50%, rgb(15, 15, 15) 0px, transparent 50%),
    /* radial-gradient(at 00% 100%, rgb(97, 3, 3) 0px, transparent 50%), */
      radial-gradient(at 0% 100%, hsla(0, 0%, 4%, 1) 0px, transparent 50%),
    /* radial-gradient(at 80% 100%, rgb(18, 17, 17) 0px, transparent 50%), */
      /* radial-gradient(at 80% 100%, rgb(18, 17, 17) 0px, transparent 50%), */
      radial-gradient(at 80% 100%, rgb(20, 4, 4) 0px, transparent 50%),
    radial-gradient(at 0% 0%, rgb(97, 3, 3) 0px, transparent 50%);
  background-size: 300% 300%;
  animation: move 25s ease infinite;

  .one {
    width: 80%;
    padding-left: 70px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h1 {
      text-align: left;
      color: #fff;
      font-size: 6rem;
      line-height: 90px;
    }

    h3 {
      font-size: 4rem;
      color: #830000;
      /* background: -webkit-linear-gradient(
        45deg,
        #e70505,
        #5f0101,
        #e70505,
        #5f0101
      );
      -webkit-background-clip: text;*/
      /* -webkit-text-fill-color: transparent;  */
      margin-bottom: 15px;
    }

    p {
      font-size: 1.3rem;
      color: #fff;
      margin-bottom: 50px;
      font-weight: 100;
    }

    .btn-1 {
      /* width: 200px;
      height: 50px;
      border: none;
      outline: none;
      font-size: 1.3rem;
      color: #fff;
      background: #830000;
      cursor: pointer;
      position: relative;
      z-index: 0;
      border-radius: 10px; */
      font-size: 1.3rem;
      padding: 10px 25px;
      border-radius: 7px;
      color: #830000;
      border: 1px solid #830000;
      background-color: transparent;
      cursor: pointer;
      transition: 0.3s all ease-in-out;

      &:hover {
        transform: scale(1.1);
        color: #c20101;
        border: 1px solid #c20101;
      }

      /* &::before {
        content: "";
        background: linear-gradient(
          45deg,
          #ff0000,
          #ff7300,
          #fffb00,
          #48ff00,
          #00ffd5,
          #002bff,
          #7a00ff,
          #ff00c8,
          #ff0000
        );
        position: absolute;
        top: -2px;
        left: -2px;
        background-size: 400%;
        z-index: -1;
        filter: blur(5px);
        width: calc(100% + 4px);
        height: calc(100% + 4px);
        animation: glowing 20s linear infinite;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
        border-radius: 10px;
      }

      &:active {
        color: #000;
      }

      &:active:after {
        background: transparent;
      }

      &:hover:before {
        opacity: 1;
      }

      &:after {
        z-index: -1;
        content: "";
        position: absolute;
        width: 100%;
        height: 100%;
        background: #830000;
        left: 0;
        top: 0;
        border-radius: 10px;
      }*/
    }
  }

  .two {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@keyframes move {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}
